nav, header, footer {
    background-color: #fcd34d;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: x-large;
  }
  
  footer {
    text-align: center;
    font-size: 0.9rem;
  }
  